{% extends 'network/layout.html' %}


{% block body %}
    
    {% for person in following %}
    <br>
    <br>
    <br>
    <div class="container profile-page">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle img-bordered-primary" height="100px" width="100px" alt=""> </div>
                            </div>   
                            <div class="col-lg-8 col-md-8 col-12">
                                <a href="#">
                                    <h4 class="m-t-0 m-b-0"><strong>@{{person.user}}</strong></h4>
                                </a>
                            </div>                
                        </div>
                    </div>                    
                </div>
            </div>
    {% endfor %}
        
{% endblock body %}
    